<div class="d-flex">

  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="row p-3">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>

      <hr class="mt-4">

      <div class="row">
        <div class="col">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus porro eius asperiores incidunt labore ab delectus, veritatis accusantium mollitia quisquam amet laborum velit cupiditate dolore, voluptatum ad beatae similique et.
        </div>
      </div>

    </div>
  </div>
</div>
